.card-principal {
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--body-bg);  
}

.titulo {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--branco);
  font-family: "Saira", Arial, serif;
  font-size: 1.8rem;
  color: var(--texto);
}

/* --- Botões de Ação Superiores --- */
.btn-icone {
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.btn-icone:hover {
  background-color: var(--cor-primaria);
  color: var(--body-bg);
}

/* --- Identificação do Serviço --- */
.secao-nome-servico {
  margin: 10px 0px 20px 0px;
  padding: 20px;
  background-color: var(--cor-secundaria);
  border-left: 4px solid var(--cor-primaria);
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: -10px 18px 25px -20px rgba(0, 0, 0, 0.1);
}

.btn-lupa{
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  color: var(--cor-primaria);
  padding: 8px 10px; 
  border-radius: 8px;
  transition: background-color 0.5s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-lupa:hover{
  background-color: var(--cor-primaria);
  color: var(--branco)
}


.container-navegacao {
  background-color: var(--cor-secundaria);
  border-left: 4px solid var(--cor-primaria);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 12px 20px -10px rgba(0, 0, 0, 0.1);
}

/* --- NAVEGAÇÃO DE CHAPAS (ABAS) --- */
.navegacao-chapas {
  margin-bottom: 10px;
  background-color: var(--body-bg);
}

.abas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

/* Container da Aba */
.tab-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--cor-secundaria);
  border: none;
  outline: none;
  padding-top: 3px;
  border-radius: 5px 0 0 0;
  transition: all 0.4s ease;
}

/* Aba Selecionada (Ativa) */
.tab-wrapper.ativa {
  background-color: var(--cor-primaria);
  border: none;
}

/* Botão de texto da aba */
.tab-chapa {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9rem;
  gap: 8px;
  color: var(--texto);
  transition: all 0.6s ease-in-out;
}

.tab-wrapper.ativa .tab-chapa {
  color: var(--branco);
}

/* Lixeira da Aba */
.btn-excluir-chapa {
  background: transparent;
  border: none;
  padding: 8px;
  margin-right: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  color: var(--texto);
}

.tab-wrapper.ativa .btn-excluir-chapa {
  color: var(--branco);
}

.btn-excluir-chapa:hover {
  transform: scale(1.2);
}

/* Botão "+ Nova Chapa" */
.btn-nova-chapa {
  padding: 10px 25px;
  margin-bottom: 3px;
  background-color: var(--input-bg);
  border: 1.6px dashed rgb(139, 69, 19, 0.5);
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  outline: none;
  color: var(--texto);
  transition: all 0.4s ease-in-out;
}

.btn-nova-chapa:hover {
  background-color: var(--cor-primaria);
  color: var(--branco);
}

/* --- Configuração da Chapa e Serra --- */
.secao-config-chapa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
  background-color: var(--cor-secundaria);
}

.grupo-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.input-nome {
  margin: 0 20px; 
}


.input-padrao {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--input-bg);
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input-padrao:focus {
  outline: none;
  border: 1px solid var(--cor-primaria);
}

/* --- Lista de Peças --- */
.lista-pecas {
  margin: 30px 0;
  background-color: var(--cor-secundaria);
  padding: 1px 20px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lista-pecas h3 {
  font-family: "Saira", Arial, serif;
  font-size: 1.2rem;
  color: var(--texto);
}

/* --- Estilo Base --- */
.item-peca {
  display: flex;
  flex-wrap: wrap; 
  gap: 12px;
  align-items: flex-end;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed rgba(200, 200, 200, 0.5);
}

.coluna-nome {
  flex: 1 1 100%; /* Ocupa a 1ª linha inteira no celular */
  display: flex;
  flex-direction: column;
}

.coluna-medida, 
.coluna-qtd {
  flex: 1; /* Divide o espaço da 2ª linha por igual */
  display: flex;
  flex-direction: column;
}


.sub-rotulo {
  font-size: 0.85rem;
  color: var(--texto);
  text-align: left;
  margin-left: 5px;
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
}

.btn-remover {
  background-color: transparent;
  color: var(--cor-primaria);
  border: 1px solid var(--cor-secundaria);
  padding: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 30px 0 0 0;
}

.btn-adicionar,
.btn-imprimir {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  min-width: 300px;
  border-radius: 8px;
  padding: 12px;
  transition: background-color 0.4s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.btn-imprimir {
  border: 1px solid var(--cor-primaria);
  background-color: var(--cor-primaria);
  padding: 13px;
  color: var(--branco);
}

.texto-imprimir {
  margin-left: 8px;
  font-weight: bold;
}

.btn-adicionar {
  width: fit-content;
  padding: 15px;
  background-color: var(--cor-primaria);
  color: var(--branco);
  font-weight: bold;
}

.btn-adicionar:active {
  transform: scale(0.98);
}

.espaco-impressao {
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0 20px;
  display: block;
  text-align: center;
  background-color: var(--cor-secundaria);
  border-radius: 8px 0 8px 8px;
  border-left: 4px solid var(--cor-primaria);
  box-shadow: -10px 18px 25px -10px rgba(0, 0, 0, 0.1);
}

.btn-container-corte {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 5px;
}

.btn-wrapper-corte {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 0 0 20px 0;
  width: 100%;
}

.btn-wrapper-flex-corte {
  display: flex;
  justify-content: row;
  gap: 40px;
  margin-bottom: 20px;
}

.btn-salvar-corte,
.btn-buscar-corte,
.btn-editar-corte,
.btn-excluir-corte {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
  transition:
    background-color 0.3s,
    opacity 0.2s;
}

.btn-salvar-corte,
.btn-buscar-corte,
.btn-editar-corte,
.btn-excluir-corte {
  padding: 15px 30px;
  background-color: var(--cor-primaria);
  color: var(--branco);
}

.btn-buscar-corte:hover {
  filter: brightness(0.85) !important;
}

/* --- Responsividade --- */
@media (max-width: 900px) {
  .espaco-impressao {
    padding: 0 8px;
  }
}

/* --- TELAS GRANDES --- */
@media (min-width: 768px) {
  .item-peca {
    flex-wrap: nowrap; 
  }

  .coluna-nome {
    flex: 1 1 auto; 
  }

  .coluna-medida {
    flex: 0 0 110px; 
  }

  .coluna-qtd {
    flex: 0 0 70px; 
  }
}


@media (max-width: 710px) {
     .btn-wrapper-corte {
  gap: 30px;
}

.btn-wrapper-flex-corte {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .btn-salvar-corte {
    padding: 15px 80px;
  }
  
  .btn-editar-corte {
    padding: 15px 82px;
  }
  
  .btn-buscar-corte {
    padding: 15px 80px;
  }
  
  .btn-excluir-corte {
    padding: 15px 80px;
  }

}


@media (max-width: 650px) {
  .btn-container {
    flex-direction: column;
  }

  .btn-adicionar,
  .btn-imprimir {
    min-width: 380px;
  }

  .swal2-popup.modal-pesquisa {
    max-width: 400px !important;
  }

  .btn-wrapper-flex-corte {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .btn-salvar-corte {
    padding: 15px 50px;
 
  }

  .btn-editar-corte {
    padding: 15px 52px;
 
  }

  .btn-buscar-corte {
    padding: 15px 50px;
 
  }

  .btn-excluir-corte {
    padding: 15px 50px;
 
  }
}


@media (max-width: 600px) {
  .secao-config-chapa {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
    .btn-adicionar,
  .btn-imprimir {
    min-width: 350px;
  }

  .swal2-popup.modal-pesquisa {
    max-width: 340px !important;
  }


  .input-nome {
  margin: 0 10px; 
}

  .btn-wrapper-corte{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .btn-wrapper-flex-corte {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .btn-salvar-corte {
    padding: 15px 80px;
  }

  .btn-editar-corte {
    padding: 15px 82px;
  }

  .btn-buscar-corte {
    padding: 15px 78px;
  }

  .btn-excluir-corte {
    padding: 15px 80px;
  }
}


@media (max-width: 430px) {
  .secao-nome-servico {
    padding: 0 10px 20px 10px;
  }

  .secao-config-chapa {
    padding: 20px 10px;
  }
}

@media (max-width: 380px) {
  .swal2-popup.modal-pesquisa {
    max-width: 290px !important;
  }

  .btn-adicionar,
  .btn-imprimir {
    min-width: 330px;
  }

}

@media (max-width: 350px) {
.btn-adicionar,
  .btn-imprimir {
    min-width: 280px;
  }
}
