html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.menu-container {
  max-width: 900px;
  height: 100vh;
  margin: 20px auto;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.menu-header {
  text-align: center;
  margin-bottom: 30px;
}

.logo-img {
  width: 120px;
  height: auto;
}

.nome-fantasia {
  font-size: 1.3rem;
  color: var(--texto);
  margin: 0;
  font-family: "Saira", Arial, serif;
}

/* Configuração do Grid conforme o Esboço */
.grid-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1.2fr 1.2fr 1fr 0.8fr;
  gap: 12px;
  background-color: var(--cor-secundaria);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  border-radius: 8px;
  border-left: 4px solid var(--cor-primaria);
  grid-template-areas:
    "bloco1 bloco2 bloco5"
    "bloco1 bloco4 bloco5"
    "bloco3 bloco4 bloco5"
    "bloco6 bloco6 bloco6";

  height: 100%;
  max-height: calc(100vh - 300px);
}

.grid-item {
  background: var(--input-bg);
  border: 2px solid var(--borda-chapa-visualizador);
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
  color: var(--texto);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  z-index: 1;
}

/* Mapeamento fiel ao desenho */
.item-topo-esq {
  grid-area: bloco1;
} /* 2 linhas */
.item-topo-centro {
  grid-area: bloco2;
} /* 1 linha */
.item-abaixo-1 {
  grid-area: bloco3;
} /* 1 linha, abaixo do bloco 1 */
.item-centro-baixo {
  grid-area: bloco4;
} /* 2 linhas, no meio */
.item-col-direita {
  grid-area: bloco5;
} /* 3 linhas verticais */
.item-base-total {
  grid-area: bloco6;
  flex-direction: row;
  gap: 20px;
} /* Base total */

.grid-item:hover {
  cursor: pointer;
  background-color: var(--branco);
  border-color: var(--cor-primaria);

  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.15),
    0 6px 6px rgba(0, 0, 0, 0.1);

  transform: translateY(-3px);
  z-index: 10;
  color: var(--cor-primaria);
}

.grid-item:hover svg {
  color: var(--cor-primaria);
  transform: scale(1.1);
  transition: transform 0.4s ease;
}

@media (max-width: 550px) {
  .menu-container {
    margin: 2px auto;
    padding: 2px;
  }
}

@media (max-width: 400px) {
  .menu-container {
    margin: 2px auto;
    padding: 2px;
  }

  .grid-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .grid-item {
    flex-direction: row;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}