.card-principal {
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--body-bg);
}

.titulo {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--branco);
  font-family: "Saira", Arial, serif;
  font-size: 1.8rem;
}

/* --- Botões de Ação Superiores --- */
.btn-icone {
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.btn-icone:hover {
  background-color: var(--destaque);
  color: var(--body-bg);
}

/* --- Identificação do Serviço --- */
.secao-nome-servico {
  margin: 10px 0px 20px 0px;
  padding: 0 20px 20px 20px;
  background-color: var(--secundario-madeira);
  border-left: 4px solid var(--destaque);
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
  /* box-shadow: -10px 18px 25px -10px rgba(0, 0, 0, 0.1); */
  box-shadow: -10px 18px 25px -20px rgba(0, 0, 0, 0.1);
}

.container-navegacao {
  background-color: var(--secundario-madeira);
  border-left: 4px solid var(--destaque);
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: -20px 4px 20px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 12px 20px -10px rgba(0, 0, 0, 0.1);
}

.linha {
  border-bottom: 1px solid var(--branco);
}

/* --- NAVEGAÇÃO DE CHAPAS (ABAS) --- */
.navegacao-chapas {
  margin-bottom: 10px;
  background-color: var(--body-bg);
}

.abas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

/* Container da Aba */
.tab-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--secundario-madeira);
  border: none;
  outline: none;
  padding-top: 3px;
  border-radius: 5px 0 0 0;
  transition: all 0.4s ease;
}

/* Aba Selecionada (Ativa) */
.tab-wrapper.ativa {
  background-color: var(--destaque);
  border: none;
}

/* Botão de texto da aba */
.tab-chapa {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9rem;
  gap: 8px;
  color: var(--texto);
  transition: all 0.6s ease-in-out;
}

.tab-wrapper.ativa .tab-chapa {
  color: var(--branco);
}

/* Lixeira da Aba */
.btn-excluir-chapa {
  background: transparent;
  border: none;
  padding: 8px;
  margin-right: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  color: var(--texto);
}

.tab-wrapper.ativa .btn-excluir-chapa {
  color: var(--branco);
}

.btn-excluir-chapa:hover {
  transform: scale(1.2);
}

/* Botão "+ Nova Chapa" */
.btn-nova-chapa {
  padding: 10px 25px;
  margin-bottom: 3px;
  background-color: var(--input);
  border: 1.6px dashed rgb(139, 69, 19, 0.5);
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  outline: none;
  color: var(--texto);
  transition: all 0.4s ease-in-out;
}

.btn-nova-chapa:hover {
  background-color: var(--destaque);
  color: var(--branco);
}

/* --- Configuração da Chapa e Serra --- */
.secao-config-chapa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
  background-color: var(--secundario-madeira);
}

.grupo-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.rotulo {
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 5px;
  text-align: left;
  color: var(--texto);
}

.input-padrao {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--input);
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input-padrao:focus {
  outline: none;
  border: 2px solid var(--destaque);
}

/* --- Lista de Peças --- */
.lista-pecas {
  margin: 30px 0;
  background-color: var(--secundario-madeira);
  padding: 1px 20px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lista-pecas h3 {
  font-family: "Saira", Arial, serif;
  font-size: 1.2rem;
  color: var(--texto);
}

.item-peca {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: flex-end;
  border-bottom: 1px solid var(--branco);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.coluna-nome {
  flex: 1 1 100%;
}
.coluna-medida {
  margin-top: 5px;
  flex: 1 1 50px;
  min-width: 0;
}
.coluna-qtd {
  flex: 0 1 60px;
}

.sub-rotulo {
  font-size: 0.85rem;
  color: var(--texto);
  text-align: left;
  margin-left: 5px;
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
}

.btn-remover {
  background-color: transparent;
  color: var(--destaque);
  border: 1px solid var(--secundario-madeira);
  padding: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 30px 0 0 0;
}

.btn-adicionar,
.btn-imprimir {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  min-width: 300px;
  border-radius: 8px;
  padding: 12px;
  transition: background-color 0.4s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.btn-imprimir {
  border: 1px solid var(--destaque);
  background-color: var(--destaque);
  padding: 13px;
  color: var(--branco);
}

.texto-imprimir {
  margin-left: 8px;
  font-weight: bold;
}

.btn-adicionar {
  width: fit-content;
  padding: 15px;
  background-color: var(--destaque);
  color: var(--branco);
  font-weight: bold;
}

.btn-adicionar:active {
  transform: scale(0.98);
}

.espaco-impressao {
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0 20px;
  display: block;
  text-align: center;
  background-color: var(--secundario-madeira);
  border-radius: 8px 0 8px 8px;
  border-left: 4px solid var(--destaque);
  box-shadow: -10px 18px 25px -10px rgba(0, 0, 0, 0.1);
}

/* --- Responsividade --- */
@media (max-width: 900px) {
  .espaco-impressao {
    padding: 0 8px;
  }
}

@media (max-width: 600px) {
  .coluna-nome {
    order: 1;
  }
  .coluna-medida,
  .coluna-qtd,
  .btn-remover {
    order: 2;
  }

  .secao-config-chapa {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .btn-container {
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .btn-adicionar,
  .btn-imprimir {
    min-width: 280px;
  }
}
