.btn-voltar {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--cor-secundaria);
  color: var(--texto);
  position: relative;
  top: 35px;
  margin-left: 8px;
  transition: transform 0.2s ease;
 -webkit-tap-highlight-color: transparent;
  outline: none;
}

.btn-voltar:focus{
  outline: 1px dashed var(--cor-primaria);
}

.btn-voltar:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-voltar:hover{
    transform: scale(1.1);
}
