#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app-container {
  /* min-height: 100vh; */
  margin: 0 8px 0 5px;
  font-family: "Montserrat", sans-serif;
}

html,
body {  
  max-height: 100vh; 
  overflow-y: auto;  
  overflow-x: hidden;
  margin: 0;
  background-color: var(--body-bg);
}

/* --- Início Modal SweetAlert2 --- */
.swal2-popup {
    font-family: 'Montserrat', sans-serif !important;
}

.swal2-popup:not(.swal2-toast) {
    font-family: 'Montserrat', sans-serif !important;
    max-width: 380px !important; 
    padding: 24px !important;
    border-radius: 12px !important; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15) !important; 
}

/* Tamanho e margem do ícone */
.swal2-icon {
    transform: scale(0.75) !important; 
    margin: 0 auto 16px auto !important;
}

/* Tipografia do Título */
.swal2-title {
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #2c3e50 !important;
    padding: 0 !important;
    margin-bottom: 8px !important;
}

/* Tipografia do Texto secundário */
.swal2-html-container {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #666 !important;
    margin: 0 !important;
}

/* Alinhamento e estilo dos botões */
.swal2-actions {
    margin-top: 24px !important;
    gap: 12px;
}

.swal2-confirm, .swal2-cancel {
    font-weight: 500 !important;
    font-size: 14px !important;
    padding: 10px 20px !important;
    border-radius: 6px !important;
    transition: filter 0.2s ease-in-out !important;
}

.swal2-confirm:hover, .swal2-cancel:hover {
    filter: brightness(0.9) !important; 
}

.mensagem-confirmacao {
    font-size: 14px;
    padding: 8px 16px;
    max-width: fit-content;
    background-color: #e6f4ea; 
    color: #1e8e3e;
    border: 1px solid #ceead6;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin: 10px auto;
    text-align: center;
    font-family: sans-serif;
}

.mensagem-erro {
    font-size: 14px;
    padding: 8px 16px;
    max-width: fit-content;
    background-color: #fce8e6; 
    color: #d93025;
    border: 1px solid #fad2cf;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin: 10px auto;
    text-align: center;
    font-family: sans-serif;
}
/* --- Final do Modal SweetAlert2 --- */


:root {
  /* geral */
  --cor-primaria: #8b4513;
  --cor-secundaria: #dddad3;
  --industrial-aco: #2f4f4f;
  --acao: #ffbf00;
  --body-bg: #f4ebd9;
  --texto: #444;
  --input-bg: #f3f2f2;
  --branco: #ffffff;

  /* visualizador */
  --chapa-visualizador: #deb887;
  --borda-chapa-visualizador: #451a03;
  --bg-tabela-th: #f8f9fa;
  --borda-tabela-th: #dee2e6;
  --fonte-erro: #820404;

  /* despesas */
  --vermelho-destaque: #e74c3c;
  --verde-destaque: #27ae60;
  --verde-destaque-bg: #eafaf1;

}
