#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app-container {
  /* min-height: 100vh; */
  margin: 0 8px 0 5px;
  font-family: "Montserrat", sans-serif;
}

html,
body {  
  max-height: 100vh; 
  overflow-y: auto;  
  overflow-x: hidden;
  margin: 0;
  background-color: var(--body-bg);
}

.logo-img {
  width: 120px;
  height: auto;
}

.nome-fantasia {
  font-size: 1.3rem;
  color: var(--texto);
  margin: -15px 0 20px 0;
  font-family: "Saira", Arial, serif;
}

.titulo-pagina {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 40px;
  color: var(--texto);
  font-family: "Saira", Arial, serif;
}

.subtitulo {
  text-align: left;
  margin-bottom: 20px;
  color: var(--texto);
  font-size: 1.2rem;
  border-bottom: 2px solid var(--branco);
  padding-bottom: 5px;
  font-family: "Saira", Arial, serif;
}

.titulo-input {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0  0 0 5px!important;
  text-align: left;
  color: var(--texto)!important;
}
/* --- Início Modal SweetAlert2 --- */
.swal2-popup {
    font-family: 'Montserrat', sans-serif !important;
}

/* Modais Centrais (Isolados do Toast) */
.swal2-popup:not(.swal2-toast) {
    max-width: 380px !important; 
    padding: 24px !important;
    border-radius: 12px !important; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15) !important; 
}

.swal2-popup:not(.swal2-toast) .swal2-icon {
    transform: scale(0.50) !important; 
    margin: 0 auto 16px auto !important;
}

.swal2-popup:not(.swal2-toast) .swal2-title {
    font-size: 18px !important;
    font-weight: 600 !important;
    color: var(--texto) !important;
    padding: 0 !important;
    margin-bottom: 8px !important;
}

.swal2-popup:not(.swal2-toast) .swal2-html-container {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: var(--texto) !important;
    margin: 0 !important;
    padding: 0 10px !important;
}

.swal2-popup:not(.swal2-toast) .swal2-actions {
    margin-top: 24px !important;
    gap: 12px;
}

.swal2-popup:not(.swal2-toast) .swal2-confirm, 
.swal2-popup:not(.swal2-toast) .swal2-cancel {
    font-weight: 500 !important;
    font-size: 14px !important;
    padding: 10px 20px !important;
    border-radius: 6px !important;
}

.swal2-toast .swal2-icon {
    transform: scale(0.6) !important; 
    margin: 0 8px 0px 0 !important; 
}

.swal2-container.swal2-top-end {
    padding-right: 30px !important;
}

.swal2-input {
    margin: 12px auto 0 auto !important; 
    width: 90% !important;
    height: 38px !important;
    font-size: 14px !important;
    border-radius: 6px !important;
}

/* Estrutura flexível para centralizar o Toast perfeitamente */
.swal2-toast.mensagem-confirmacao,
.swal2-toast.mensagem-erro {
    display: flex !important;
    align-items: center !important;
    padding: 12px 20px !important;
    border-radius: 8px !important;
    background-color: var(--input-bg) !important;
    border: 1px solid var(--input-borda) !important;
    font-family: 'Montserrat', sans-serif !important;
}

.swal2-toast.mensagem-confirmacao { color: var(--verde-destaque) !important; }
.swal2-toast.mensagem-erro { color: var(--vermelho-destaque) !important; }

.swal2-toast .swal2-title {
    margin: 0 0 0 12px !important; 
    font-size: 14px !important;
    font-weight: 500 !important;
}
/* --- Final do Modal SweetAlert2 --- */


:root {
  /* geral */
  --cor-primaria: #8b4513;
  --cor-secundaria: #dddad3;
  --industrial-aco: #2f4f4f;
  --acao: #ffbf00;
  --body-bg: #f4ebd9;
  --texto: #444;
  --input-bg: #f3f2f2;
  --input-borda: #ccc;
  --branco: #ffffff;

  /* visualizador */
  --chapa-visualizador: #deb887;
  --borda-chapa-visualizador: #451a03;
  --bg-tabela-th: #f8f9fa;
  --borda-tabela-th: #dee2e6;
  --fonte-erro: #820404;

  /* despesas */
  --vermelho-destaque: #e74c3c;
  --verde-destaque: #27ae60;
  --verde-destaque-bg: #eafaf1;

  --item-busca-modal-bg: #f8f9fa;
}
