#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app-container {
  /* min-height: 100vh; */
  margin: 0 8px 0 5px;
  font-family: "Montserrat", Arial, serif;
}

html,
body {  
  max-height: 100vh; 
  overflow-y: auto;  
  overflow-x: hidden;
  margin: 0;
  background-color: var(--body-bg);
}

:root {
  /* geral */
  --cor-primaria: #8b4513;
  --cor-secundaria: #dddad3;
  --industrial-aco: #2f4f4f;
  --acao: #ffbf00;
  --body-bg: #f4ebd9;
  --texto: #444;
  --input-bg: #f3f2f2;
  --branco: #ffffff;

  /* visualizador */
  --chapa-visualizador: #deb887;
  --borda-chapa-visualizador: #451a03;
  --bg-tabela-th: #f8f9fa;
  --borda-tabela-th: #dee2e6;
  --fonte-erro: #820404;


}
